// Primary
$BrightRed: rgb(242, 95, 58);
$DarkBlue: rgb(36, 45, 82);

// Neutral
$DarGrayishBlue: rgb(144, 149, 167);
$VeryDarkBlue: rgb(29, 30, 37);
$VeryPaleRed: rgb(255, 239, 235);
$VeryLightGray: rgb(250, 250, 250);
