.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  height: 6rem;
}
.navbar a > img {
  height: 16px;
  width: auto;
  justify-self: start;
  margin-left: 2px;
}
.navbar ul {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  li {
    margin: 0 10px;
    font-weight: 500;
    font-size: 0.9rem;
    a {
      color: $VeryDarkBlue;
      text-decoration: none;
      transition: color 0.3s ease-out;
      &:hover {
        color: $BrightRed;
        font-weight: bold;
      }
    }
  }
}
// Mobile menu
.menu-toggle .bar {
  display: none;
  width: 25px;
  height: 3px;
  background-color: $VeryDarkBlue;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-toggle {
  display: none;
  display: flex;
  margin-left: auto;
}
.menu-toggle:hover {
  cursor: pointer;
}
#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

// Media queries
@media (max-width: 800px) {
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    background-color: $VeryLightGray;
    margin: 1rem auto 2rem;
    padding: 2rem 0;
    width: 100%;
    top: 80px;
    left: 10%;
    transform: translateX(120%);
    width: 80%;
    transition: transform 0.3s ease-in;
    z-index: 100;
    text-align: center;
    overflow: hidden;
  }
  .navbar li {
    padding: 14px;
  }
  .navbar li a {
    text-decoration: none;
    color: $VeryDarkBlue;
    font-weight: 700;
  }
  .menu-toggle .bar {
    display: block;
  }
  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }
  .mobile-nav {
    transform: translate(0%) !important;
  }
}
