.second-area {
  h2 {
    font-weight: 700;
  }
  .right {
    .component:nth-of-type(1) {
      margin: 0 auto 2rem;
    }
    .component {
      padding: 1rem;
      margin: 2rem auto;
    }
    h6 > span {
      background-color: $BrightRed;
      color: $VeryLightGray;
      font-weight: 500;
      padding: 6px 1.3rem;
      border-radius: 1rem;
    }
    h6 {
      font-weight: 700;
      font-size: 0.9rem;
      margin: 1.2rem auto;
    }
    p {
      font-weight: 500 !important;
      margin-left: 5rem;
    }
  }
}
@media (max-width: 800px) {
  .second-area {
    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      flex-direction: column;
      h2 {
        font-size: 28px;
        text-align: center;
        margin: 1rem auto;
        line-height: 45px;
      }
      p {
        text-align: center;
      }
    }
    .right {
      h6 {
        background-color: $VeryPaleRed;
        padding: 6px 0;
      }
      p {
        margin-left: 3px;
      }
    }
  }
}
